@model RecipeVM
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Recipe.Name</h1>

<p>Prep Time: @Model.Recipe.PrepTimeMin Min.</p>
<ul>
    <li>Vegan? @(Model.Recipe.Vegan == true ? "Yes" : "No" )</li>
    <li>Vegetarian? @(Model.Recipe.Vegetarian == true ? "Yes" : "No" )</li>
    <li>Gluten-Free? @(Model.Recipe.GlutenFree == true ? "Yes" : "No" )</li>
</ul>


<h3><strong>Ingredients:</strong></h3>
<ul>
    @foreach (Ingredient ingredient in Model.Ingredients)
    {
        <li>@ingredient.Quantity @ingredient.UnitOfMeasurement  -  @ingredient.Name</li>
    }
</ul>


<h3><strong>Directions:</strong></h3>
<ol>
    @for (int i = 1; i < Model.Instructions.Length; i++)
    {
        <li>Step @Model.Instructions[i]</li>
    }
</ol>



